/* Table of Content
----------------------------------------
	#General Styling
	#Main Menu
	#Work Section
	#Side Menu
	#Services
	#About
	#Rates
	#Team
	#Contact
	#Intro Fonts
	#Social Icons
	#Footer
	#Media Queries
*/


#custom {
	position: fixed;
	width: 150px;
	height: 270px;
	top: 25%;
	left: -150px;
	background-color: #212121;
	z-index: 1000;
}

#custom li {
	margin-top: 3px;
}

#custom li:first-child {
	margin-top: -5px;
	padding-left: 12px;
	border-top: 5px solid #fff;
	padding-top: 3px;
}

#custom img {
	width: 150px;
	margin-top:5px;
}

#optionheading {
	font-size: 7px;
	font-style: normal;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	margin-top: 20px;
}

#custom a {
	text-decoration: none;
	font-style: normal;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	color: #fff;
	margin-left: 11px;
}

#custom a:hover {
	color: #98BF0B;
}

#close {
	width: 20px;
	height:23px;
	display: block;
	left: 150px;
	top: 0px;
	position: absolute;
	background-color: #212121;
	cursor: pointer;
}

#customlogo {
	width:30px;
	height: 30px;
	margin-left: 9px;
	margin-top: 3px;
}

#arrow {
	background: url(../images/slidearrows.png) no-repeat -10px 0px; 
	width: 9px;
	height: 8px;
	position: absolute;
	margin-top: 6px;
	left: 5px;
}

#arrows {
	margin-top:20px;
}



/****************** #General Styling *******************/

body {
	font-size: 12px;
	font-family: 'kaiti';
	color: #868686;
	line-height: 23px;
	position: relative;
	font-style:normal;
	overflow-x: hidden;
}

.clear100 {
	height:100px;
	clear: both;
}

.clear40 {
	height:40px;
	clear: both;
}

.container {
	width: 1000px;
	height: auto;
	margin: 0 auto;
	padding: 90px 0 100px 0;
	text-align: center;
}

p {
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
	font-size: 13px;
}

#top {
	width: 100%;
	text-align: center;
	position: relative;
	z-index: 10;
}

#logo {
	width: 210px;
	height: 45px;
	margin: 0 auto;
	padding-top: 17px;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
	color: #272928;
	font-weight: 700;
	font-style: normal;
	margin-bottom: 15px;
	line-height: 1.1em;
	text-transform: uppercase;
}

h1 span {
	font-weight: 300;
}

h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
	font-size: 9px;
	color: #000000;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 0.3em;
}

h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:bold;
	font-size: 18px;
	color: black;

	text-transform: uppercase;
	letter-spacing: 0.3em;
	display: inline-block;
	padding: 3px 17px;
	 font-style:normal;
}

h3:hover {
	
	font-weight:bold;
	font-size: 22px;
	color: blue;
	padding: 3px 17px;
}


h4 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-style: italic;
	color: #868686;
	font-weight: normal;
}

h5 {
	font-size: 20px;
	font-family: 'kaiti', sans-serif;
	color: black;
	line-height: 23px;
	position: relative;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding-top: 4px;
}

h7 {
	font-size: 29px;
	color: #2e2e2e;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-style: normal;
}

.smallheadingfont {
	font-size: 29px;
	color: #2e2e2e;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-style: normal;
	display: inline;
	text-transform: uppercase;
}


.smallheadingfont span {
	font-weight: 300;
}

h8 {
	font-size: 20px;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	float: left;
	font-style: normal;
}

.smallheadingfont8 {
	font-size: 20px;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	float: left;
	font-style: normal;
}

h9 {
	font-size: 15px;
	color: #000;
	font-family: 'arial';
	font-weight: normal;
	text-transform: uppercase;
	font-style: normal;
	margin-bottom: 20px;
} 

.headingfont9 {
	font-size: 15px;
	color: #FFF;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	font-style: normal;
	margin-bottom: 15px;
}


#topband {
	width: 100%;
	height: 75px;
	background-color: #F6F6F6;
	position: relative;
	top: 0px;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,.5);
	z-index: -10;
	/*background: #fff url('../images/diagonal-lines.png') repeat left top;*/
}

#menuband {
	width: 550px;
	height: 35px;
	background-color: #F6F6F6;
	margin: 0 auto;
	margin-top: 0px;
	border-radius: 0px 0px 5px 5px;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,.5);
	z-index: 100;
	/*background: #fff url('../images/diagonal-lines.png') repeat left top;*/
	color: #c8c8c8;
}

#menucover {
	width: 550px;
	height: 40px;
	background-color: #fff;
	margin: 0 auto;
	margin-top: 6px;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,.5);
}


/****************** #Main Menu *******************/

#menu1 {
	width: 550px;
	display: inline-block;
	text-align: center;
	font-family: 'arial';
	text-transform: uppercase;
	text-decoration: none;
	margin-top: 5px;
}


#menu1 li {
	display: inline;
	text-decoration: none;
	color: #000;
	font-style: normal;
	margin-left: 30px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #4d4d4d;
}

#menu1 li:first-child {
	margin-left: 0px;
}

#menu1 li a {
	display: inline;
	text-decoration: none;
	font-style: normal;
	color: #000;
}

#navenclosure {
	width: 100%;
}

#topmenu {
	width: 650px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	/**padding left: 0px;**/
	margin: 0 auto;
	color: #FFF;
	font-size: 13px;
	text-transform: uppercase;
	font-style: normal;
	font-family: 'Helvetica';
	font-weight: 900;
	letter-spacing: 0.3em;
	/**box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);**/
	text-shadow: 1px 1px 0px rgba(0,0,0,0.25);
	border-top: 3px double #fff;
    border-bottom: 3px double #fff;
}

#topmenu select {
	display: none;
}

#topdrop{
	display: none;
}

#topmenu ul li {
	display: inline;
	-moz-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	text-decoration: none;
	color: #FFF;
	/**padding-right: 30px;**/
	cursor: pointer;
	margin-right: 35px;
}

#hiddenmenu ul li {
	display: inline;
	text-decoration: none;
	color: #000;
	/**padding-right: 45px;**/
	display: inline-block;
	cursor: pointer;
	margin-left: 45px;
}

#topmenu a {
	-moz-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	text-decoration: none;
	color: #FFF;
	/**padding-right: 30px;**/
	cursor: pointer;
}

#topmenu a:hover {
	color: #000;
}

#topmenu ul li:last-child {

	margin-right: 0px;
	padding-right: 0px;
}

#hiddenmenu {
	width: 100%;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	/**padding left: 0px;**/
	margin: 0 auto;
	color: #000;
	font-size: 10px;
	text-transform: uppercase;
	font-style: normal;
	font-family: 'arial', sans-serif;
	font-weight: 900;
	letter-spacing: 0.3em;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
	background-color: #F6F6F6;
    z-index:999;
    text-align: center;
   /* background: #fff url('../images/diagonal-lines.png') repeat left top;*/
}

#hiddenmenu a {
	text-decoration: none;
	color: #4d4d4d;
	/**padding-right: 45px;**/
	display: inline-block;
	cursor: pointer;
}

#hiddenmenu a:last-child {
	padding-right: 0px;
	margin-right: 0px;
}

#hiddennavenclosure {
	width: 100%;
	margin-top: 49px;
	background-color: #fff;

}

#hiddenmenu select {
	display: none;
}

#menuband select {
	display: none;
}

#navcover {
	width: 100%;
	background-color: #F6F6F6;
	height:49px;
	margin-top:-43px;
	position: relative;
}
/****************** #Work Section *******************/

#work {
		width: 100%;
		height: auto;
		background: #F6F6F6;
}

.galleryitem {
	width: 313px;
	padding-left: 10px;
	padding-right: 10px;
	height: 300px;
	float: left;
}

.galleryitem:last-child {
	margin-right: 0px;
}

.portfolioitemtitleholder {

}

.portfoliotitle {
	border-bottom: 1px solid #868686;
	width: 301px;
	margin: 0 auto;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-style: normal;
	color: #646464;
	font-size: 14px;
}

.galleryitemdescription {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 13px;
}

.worksection {
	width: 300px;
	height: auto;
	float: left;
	text-align: center;
}

#workcontent .worksection img {
	margin-bottom: 30px;
}

#workcontent .worksectionmiddle img {
	margin-bottom: 30px;
}

.worksectionmiddle {
	width: 300px;
	height: auto;
	float: left;
	text-align: center;
	margin: 0 50px;
}

#work_split_text {
	width: 710px;
	height: auto;
	margin-left: 190px;
	margin-top: 45px;
}

#clients {
	width: 1000px;
	margin-top: 10px;
	float: left;
	display: inline;
}

#testimonials {
	width: 1000px;
	margin-top: 10px;
	float: left;
	display: inline;
}

#testimonials_split_text {
	width: 621px;
	height: auto;
	margin: 0 auto;
	padding-top: 20px;
}

#textleft {
	text-align: right;
	padding-right: 50px;
	border-right: 1px #b4b4b4 solid;
	float: left;
	width: 260px;
}

#textright {
	text-align: left;
	padding-left: 50px;
	float: left;
	width: 260px;
}

#whatwedo {
	width: 1000px;
	margin-top: 10px;
	float: left;
	display: inline;
}

#whatwedoicons {
	width: 1000px;
	float: left;
	margin-bottom: 30px;
	margin-top: 20px;
}

#processicons {
	width: 1000px;
	float: left;
	margin-bottom: 30px;
	margin-top: 20px;	
}

#process {
	width: 1000px;
	margin-top: 10px;
	float: left;
	display: inline;
}

.blurb {
	width: 600px;
	border-top: 1px solid #868686;
	border-bottom: 1px solid #868686;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

.blurbenclosure {
	margin-top: 35px;
	margin-bottom: 35px;
	width: 1000px;
	float:left;
	height: 45px;
}

.blurbenclosure2 {
	margin-top: 65px;
	margin-bottom: 35px;
	width: 1000px;
	float:left;
	height: 45px;
}

#logos {
	margin-bottom: 30px;
	margin-top: 30px;
}

.line {
	background: #868686;
	width: 450px;
	height: 2px;
	display: inline-block;
	float: left;
	margin-bottom: 10px;
	margin-right: 15px;
	margin-top: 10px;
}

.lineleft {
	background: #868686;
	width: 321px;
	height: 2px;
	display: inline-block;
	margin-bottom: 10px;
	margin-right: 15px;
}

.lineright {
	background: #868686;
	width: 321px;
	height: 2px;
	display: inline-block;
	margin-bottom: 10px;
	margin-left: 15px;
}

.lineleft2 {
	background: #868686;
	width: 290px;
	height: 2px;
	display: inline-block;
	margin-bottom: 10px;
	margin-right: 15px;
}

.lineright2 {
	background: #868686;
	width: 290px;
	height: 2px;
	display: inline-block;
	margin-bottom: 10px;
	margin-left: 15px;
}

.lineleft3 {
	background: #fff;
	width: 350px;
	height: 2px;
	display: inline-block;
	margin-bottom: 10px;
	margin-right: 15px;
}

.lineright3 {
	background: #fff;
	width: 350px;
	height: 2px;
	display: inline-block;
	margin-bottom: 10px;
	margin-left: 15px;
}

.lineleft4 {
	background: #fff;
	width: 350px;
	height: 2px;
	display: inline-block;
	margin-bottom: 10px;
	margin-right: 15px;
}

.lineright4 {
	background: #fff;
	width: 350px;
	height: 2px;
	display: inline-block;
	margin-bottom: 10px;
	margin-left: 15px;
}

.lineleft5 {
	background: #868686;
	width: 365px;
	height: 2px;
	display: inline-block;
	margin-bottom: 10px;
	margin-right: 15px;
}

.lineright5 {
	background: #868686;
	width: 365px;
	height: 2px;
	display: inline-block;
	margin-bottom: 10px;
	margin-left: 15px;
}

.pattern {
	width: 100%;
	height: 13px;
	background-image: url(../images/jagged-top.png);
	margin-bottom: -1px;
	margin-top: -10px;
}

.patternwhite {
	width: 100%;
	height: 13px;
	background-image: url(../images/jagged-top-white.png);
	margin-bottom: -1px;
	position: relative;
	top: 11px;
}

.patterndown {
	width: 100%;
	height: 13px;
	background-image: url(../images/jagged-bottom.png);
	margin-bottom: -13px;
	position: relative;

}

.patterndark {
	width: 100%;
	height: 13px;
	/*background-image: url(../images/jagged-pattern-dark.png);*/
	margin-bottom: -30px;
	position: relative;
	margin-top: -11px;
	
}

.patterngreenup {
	width: 100%;
	height: 13px;
	background-image: url(../images/jagged-green-bottom.png);
	margin-bottom: -1px;
	position: relative;
	top: 11px;
	margin-top: -11px;
}


.patternupblue {
	width: 100%;
	height: 13px;
	background-image: url(../images/jagged-top-blue.png);
	background-color: #fff;
	margin-bottom: -1px;
}

.patterndownblue {
	width: 100%;
	height: 13px;
	background-image: url(../images/jagged-bottom-blue.png);
	background-color: #fff;
	margin-bottom: -1px;
}

.patterndown_contact {
	width: 100%;
	height: 13px;
	background-image: url(../images/jagged-bottom.png);
	margin-bottom: -1px;
}

.patterndown_contact_blue {
	width: 100%;
	height: 13px;
	background-image: url(../images/jagged-bottom-blue.png);
	margin-bottom: -1px;
}

#navpatterndown {
	width: 100%;
	height: 13px;
	background-image: url(../images/jagged-bottom.png);
	position: relative;
	top: 10px;
	background-color: #fff;
}

/****************** #Side Menu *******************/

#smallmenu {
	width: 30px;
	height: 210px;
	position: fixed;
	right: 10px;
	top: 150%;
	z-index: 10;
}

#smallmenu img {
	margin-bottom: 8px;
}

.thirteen {
	font-size: 15px;
	line-height: 33px;
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
}

.fifteen {
	font-size: 15px;
	line-height: 33px;
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
}

/****************** #Services *******************/

#services {
	width: 100%;
	height: auto;
	background: url(../images/pattern2.jpg);
}

#services p {
	color: #fff;
}

#services h1 {
	color: #fff;
}

#services .thirteen {
	color: #fff;
}

#services .blurb {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

#services h4 {
	color: #fff;
}

#services h3 {
	font-weight: bold;
	background-color: #F6F6F6;
	color: #000;
}

#services h3:hover {
	background-color: #F6F6F6;
	color: blue;
}

.servicesitem {
	float:left;
	width: 200px;
	margin-top:20px;
	margin-right: 65px;
}

.servicesitemlast {
	margin-right: 0px;
	float:left;
	width: 200px;
	margin-top:20px;
}

.servicestitle {
	font-family: 'Helvetica';
	font-size: 12px;
	margin: 0 auto;
	width: 100px;
	color: #000;
	margin-bottom: 5px;
	margin-top: 5px;
	background-color: #fff;;
	font-style: normal;
}

.portrait {
	width: 200px;
	height: auto;
	margin: 0 auto;
	float: left;
	padding-right: 0px;
	margin-right: 66px
}

.portraitlast {
	padding-right:0px;
	width: 200px;
	height: auto;
	margin: 0 auto;
	float: left;
}

.name {
	font-family: 'lobster_twoitalic', serif;
	font-size: 20px;
	color: #fff;
	font-weight: normal;
	font-style: normal;
	margin: 10px 0 8px 0;
	display: inline-block;
	width: 200px;
}

.position {
	color: #000;
	background-color: #fff;
	font-weight: bold;
	padding: 0px 10px;
	margin-bottom: 10px;
	display: inline-block;
}

#lastlineworkers {
	width: auto;
	height: auto;
	clear: both;
	padding: 0 0 0 248px;
}

.portraitsocialicons {
	width: 200px;
	margin-top: 5px;
}

.workersocialicon:hover {	
	opacity: .8;
	cursor: pointer;
}
/****************** #About *******************/

#about {
	width: 100%;
	height: auto;
	background-color: #F6F6F6;
}

#aboutusleft {
	width: 500px;
	float: left;
}

#aboutusright {
	width: 475px;
	float: right;
}

#checklist {
	margin-top:30px;
	width: 475px;
	float: right;
	margin-top: 30px;
}

.checklistitem {
	width: 475px;
	float: left;
	margin-bottom: 18px;
}

.checkmark {
	float:left;
	padding-top: 6px;
}

.checkmarktext {
	font-size: 12px;
	text-align: left;
	width:430px;
	margin-left:36px;
	line-height: 17px;
}

p.checkmarktext {
	color: 4F4F4F;
}

.aboutusblurb {
	width: 460px;
	float: left;
	font-family: 'arial';
	font-style: normal;
	text-align: left;
}

#skillwrapper {
	width: 450px;
	float: left;
}

.skill1 {
	background: #4f4f4f;
	width: 40%;
	height: 25px
}

.skill2 {
	background: #4f4f4f;
	width: 52%;
	height: 25px
}

.skill3 {
	background: #4f4f4f;
	width: 60%;
	height: 25px
}

.skill4 {
	background: #4f4f4f;
	width: 70%;
	height: 25px
}

.skill5 {
	background: #4f4f4f;
	width: 80%;
	height: 25px
}

.skilltitle {
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	color: #646464;
	margin-bottom: 0px;
	width: 20px;
	font-family: 'arial';
	margin-top: 15px;
}

.skillbackground {
	background: #e7e7e7;
	width: 100%;
	height: 25px;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
}

.gallerysection {
	width: 300px;
	height: auto;
	float: left;
	text-align: center;
}

#gallerycontent .gallerysection {
	margin-bottom: 29px;
}

.separate {
	width: 100%;
	height: 1px;
	background-color: #DADADA;
}

.smallseparate {
	height: 1px;
	width: 85px;
	background-color: #DADADA;
	margin: 15px auto;
}

#gallerycontent .separate {
	margin: 30px 0 35px 0;
}

.gallerymiddle {
	margin: 0 50px;
	width: 300px;
	height: auto;
	float: left;
	text-align: center;
}

.gallerysectionbottom {
	width: 300px;
	height: auto;
	float: left;
	text-align: center;
}

#gallerycontent .gallerysectionbottom {
	margin-right: 50px;
}

.clear {
	clear: both;
}

#gallerycontent .gallerysectionbottomlast {
	margin-right: 0px;
}

#slidercontrol {
	width: 300px;
	height: 50px;
	background-color: #CCC;
	border-radius: 0px 0px 5px 5px;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,.5);
	margin: 0 auto;
}

/****************** #Rates *******************/

#rates {
	width: 100%;
	height: auto;
	background-color: #F6F6F6;
}

#ratesright {
	width: 499px;
	height: auto;
	float: left;
	border-left: 1px solid #DADADA;
}


#ratesleft {
	float: left;
	width: 499px;
	height: auto;	
}

.servicenames {
	text-align: left;
	float: left;
	width: 270px;
}

.right {
	margin-left: 49px;
}

.longprices {
	width: 90px;
	height: auto;
	float: left;
	text-align: center;
	font-style: normal;
}

.shortprices {
	width: 90px;
	height: auto;
	float: left;
	text-align: center;
	font-style: normal;
}

.serviceheader {
	float: left;
}


/****************** #Team *******************/
#team {
	width: 100%;
	height: auto;
	background: url(../images/pattern2.jpg);
}

#team p {
	color: #fff;
}

#team .lineright5 {
	background-color: #fff;
}

#team .lineleft5 {
	background-color: #fff;
}

#team .position {
	background-color: #fff;
}

#team h1 {
	color: #fff;
}

#stats {
	width: 1000px;
	margin: 0 auto;
	float: left;
	margin-top: 75px;
}

#statsicons {
	width: 1000px;
	float: left;
	margin-bottom: 30px;
	margin-top: 20px;	
}

.statstitle {
	font-family: 'arial';
	font-size: 17px;
	margin: 0 auto;
	width: 190px;
	margin-bottom: 5px;
	font-style: normal;
	padding-top: 15px;
	color: #fff;
}
/****************** #Contact *******************/
#ipadmap {
	display: none;
}

#iphonemap {
	margin-bottom: -8px;
}

#responsemessage {
	display:none;
}

#contactus {
	width: 100%;
	height: auto;
	background-color:#F6F6F6;
/*	background: url(../images/bg-dark.jpeg) repeat !important;*/
	color: black;
}

#contactus h1 {
	color: black;
}

.contact_middle {
	width: 500px;
	height: auto;
	float: left;
	text-align: center;
	text-align: left;
	padding-left: 65px;
	padding-right: 65px;
	margin-top: -4px;
}

.contactleft {
	width: 300px;
	height: auto;
	float: left;
	text-align: center;
	margin-left: 50px;
}

.smallseparatecontact {
	height: 2px;
	width: 500px;
	background-color: #FFF;
	margin: 15px 0px;
	margin-top: 10px;
}

.smallseparatecontact2 {
	height: 2px;
	width: 500px;
	background-color: black;
	margin: 15px 0px;
	margin-top: 17px;
}

.contactsection {
	width: 100%;
	height: auto;
}

.contactitems {
	margin-bottom: 32px;
	margin-top: 11px;
}

.contactitems:first-child {
	margin-bottom: 18px;
	margin-top: 11px;
}

#copyright {
	margin-left: 10px;
}

#contactbutton {
	float: left;
	width: 1000px;
}

#contactheading {
	margin-bottom: 50px;
}
 
.smallheading {
	margin-bottom: 15px;
	display: block;
	color: #696868;
}

.contactimage {
	float: left;
	margin-right: 20px;
	padding-top: 7px;
}

.contactimage2 {
	float: left;
	margin-right: 20px;
	padding-top: 0px;
	margin-top: 1px;
	margin-left: 1px;
}

#contactnameinput {
	position: absolute;
	width: 300px;
}

#contactemailinput {
	position: relative;
}

#contactmessageinput {
	position: relative;
}

#contactparagraph {
	margin-bottom: 15px;
	font-size: 14px;
}

.inputoneline {
	height: 14px;
}

#contact p { 
	font: 1.1em 'Source Sans Pro', sans-serif; 
}

#contact label {
	float: left; 
	height: 26px; 
	line-height: 26px; 
	width: 155px; 
	font-size: 1.1em;
}

#contact input, textarea, select { 
	width: 290px; 
	margin: 0; 
	padding: 5px; 
	color: #666; 
	background: #f5f5f5; 
	border: 1px solid #ccc; 
	margin: 5px 0;  
	margin-bottom: 18px; 
	font:1.1em "'Source Sans Pro', sans-serif"; 
	webkit-border-radius:5px; 
}

.chrome #msg_text {
	margin-bottom: 38px;
}

.safari #msg_text {
	margin-bottom: 38px;
}

.ie #msg_text {
	margin-bottom: 45px;
}

.ie7 #msg_text {
	margin-bottom: 45px;
}

.webkit #msg_text {
	margin-bottom: 38px;
}

.contactlabel {
	text-transform: uppercase;
	font-family: 'Arial';
	font-size: 15px;
	text-align: left;
	font-style: normal;
	style="width: 290px;
}

.safari #commentslabel {
	top: -30px;
	left: 172px;	
}

#verifylabel {
	position: relative;
	top: 82px;
	left: -285px;	
}

#submit {
	position: relative;	
}

.chrome #submit {
	position: relative;
	top: -24px;
	left: 0px;	
}	

.safari #submit {
	position: relative;
	top: -20px;
	left: 0px;	
}

#contact input.submit { 
	width: 85px; 
	cursor: pointer; 
	color:#fff; 
	float: left; 
	font-family: 'Arial'; 
	font-size: 9px; 
	color: #fff; 
	background-color: #595959; 
	text-transform: uppercase; 
	letter-spacing: .3em; 
	padding-top: 9px; 
	padding-bottom: 9px;
	border: none;
	margin-top: 25px;
	margin-bottom: -9px;
}

#contact input.submit:hover { 
	background:#444; 
}



/****************** #Intro Font ****************/

#intro {
	margin: 0 auto;
	margin-top:13%;
}

.introh1 {
	font-family: 'Bebas', sans-serif;
	font-size: 150px;
	color: #FFF;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 0px;
	margin-top:-10px;
	line-height: 1.1em;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.25);
}

.introh3 {
	font-family: 'Bebas', sans-serif;
	font-size: 32px;
	color: white;
	margin: 0 auto;
	text-transform: uppercase;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.25);
	letter-spacing: 1px;
}

.introh4 {
	font-family: 'Bebas', sans-serif;
	font-size: 52px;
	width: 730px;
	margin: 0 auto;
	margin-top: -15px;
	padding-top: 23px;
	padding-bottom: 20px;
	font-weight: normal;
	border-top: 2px dotted #fff;
	border-bottom: 2px dotted #fff;
	color: white;
	font-style: normal;
	text-transform: uppercase;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.25);
}

.dottedline_left {
	width: 260px;
	border-top:2px dotted #FFF;
	display: inline-block;
	margin-bottom: 10px;
	margin-right: 15px;
}

.dottedline_right {
	width: 260px;
	border-top:2px dotted #FFF;
	display: inline-block;
	margin-bottom: 10px;
	margin-left: 15px;
}


#topfont {
	margin: 0 auto;
	width:600px;
}

/****************** #Social Icons *************/

.socialicon {
	display: inline;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
}

.topsocialicons {
	width: 300px;
	height:50px;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	margin: 0 auto;
	margin-top:20px;
}

.contactsocialicons {
	width: 250px;
	height: 50px;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
}

.contactsocialicon {
	margin-top: 2px;
	margin-left: 2px;
}

.contactsocialicon:hover {
	opacity: .8;
}

.contactsocialicon2 {
	margin-top: 7px;
	margin-left: 0px;
}

.contactsocialicon2:hover {
	opacity: .8;
}


.socialicon img {
	padding-top: 10px;
	position: relative;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	padding-right: 5px;
}

.socialicon img:hover {
	top: -3px;
	opacity: .8;
}

.circle {
	width: 36px;
	height: 36px;
	background-color: #FFF;
	border-radius: 20px;
	float:left;
	margin-right: 10px;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	cursor: pointer;
}


.circlelarge {
	width: 55px;
	height: 55px;
	background-color: #FFF;
	border-radius: 25px;
	float:left;
	margin-right: 17px;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	cursor: pointer;
}

.circlelarge:hover {
	padding: 2px;
}

.circlelarge:last-child {
	margin-right: 0px;
}

.circle2 {
	width: 33px;
	height: 33px;
	background-color: #FFF;
	border-radius: 20px;
	float:left;
	margin-right: 10px;
}


.circle:hover {
	padding: 2px;
}

#facebookicon {
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	background-color: #3B5998;
}

#facebookicon:hover {
	margin-top:-2px;
	margin-right: 8px;
	margin-left:-2px;
}

#twittericon {
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	background-color: #34CCFE;
}

#twittericon:hover {
	margin-top:-2px;
	margin-right: 8px;
	margin-left:-2px;
}

#behanceicon {
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	background-color: #696F75;
}

#behanceicon:hover {
	margin-top:-2px;
	margin-right: 8px;
	margin-left:-2px;

}

#dribbbleicon {
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	background-color: #EA4C89;
}

#dribbbleicon:hover {
	margin-top:-2px;
	margin-right: 8px;
	margin-left:-2px;
}

#linkedinicon {
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	background-color: #3282A0;
}

#linkedinicon:hover {
	margin-top:-2px;
	margin-left:-2px;
}

/**** Large Icons ****/

#facebookiconlarge {
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	background-color: #D6F3F7;
}

#facebookiconlarge:hover {
	margin-top:-2px;
	margin-right: 15px;
	margin-left:-2px;
}

#twittericonlarge {
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	background-color: #D6F3F7;
}

#twittericonlarge:hover {
	margin-top:-2px;
	margin-right: 15px;
	margin-left:-2px;
}

#behanceiconlarge {
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	background-color: #D6F3F7;
}

#behanceiconlarge:hover {
	margin-top:-2px;
	margin-right: 15px;
	margin-left:-2px;
}

#dribbbleiconlarge {
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	background-color: #D6F3F7;
}

#dribbbleiconlarge:hover {
	margin-top:-2px;
	margin-right: 15px;
	margin-left:-2px;
}

#linkediniconlarge {
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	background-color: #3282A0;
}

#linkediniconlarge:hover {
	margin-top:-2px;
	margin-left:-2px;
}



/****************** #Footer *******************/

#footer {
	width: 100%;
	height: auto;
	background-color: #F6F6F6;
	margin-top: -11px;
}


/* #Media Queries
================================================== */
@media only screen and (max-width: 400px) {
        .container {width: 300px;}
        .galleryitem {width: 300px; float: none; padding-right: 0px; padding-left: 0px;}
        .servicesitem {width: 300px; float: none;}
        #hiddenmenu { font-size: 6px;}
        #logo img {height: 33px; width: 160px;}
        #logo {height: 33px; width: 160px; padding-top: 8px;}
        #clients { display: none; }
        #testimonials { width: 300px;}
        #whatwedo {width: 300px;}
        #process {width: 300px;}
        #stats { width: 300px;}
        .portrait {margin: 0 auto; float: none;}
        .blurb {width: 300px;}
        .blurbenclosure{width: 300px;}
        .blurbenclosure2{width: 300px;}
        .aboutusblurb {width: 300px;}
        .contactleft {margin-left: 0px;}
        .contact_middle {width: 300px; margin: 0 auto; float: none; padding-left: 0px; padding-right: 0px;}
        #textleft {width: 300px; float: none; text-align: center; margin: 0 auto; border: none; padding-bottom: 30px; padding-right: 0px;}
        #textright {width: 300px; float: none; text-align: center; margin: 0 auto; border: none; padding-left: 0px;}
        #testimonials_split_text {width: 300px;}
        .line { width: 300px;}
        .aboutusblurb {width: 300px;}
        #skillwrapper {width: 300px; padding-bottom: 45px; margin: 0 auto;}
        #aboutusright {width: 300px; float: none;}
        #aboutusleft {width: 300px; float: none;}
        #contactbutton {width: 300px; margin: 0 auto;}
        #topmenu { width: 300px; font-size: 7px; border:none; margin-bottom:0px; margin-top:0px;}
        #topmenu ul {display: none;}
        .introh1 {font-size: 60px; margin-bottom: 9px; margin-bottom: 9px;}
        .introh3 {font-size: 16px; margin-bottom: 0px;}
        .introh4 {width: 300px; font-size: 21px; padding-bottom: 0px; padding-top: 4px;}
        #intro {margin-top: 25%;}
        h1 {font-size: 60px;}
        #hiddenmenu {margin-top: 44px;}
        #navcover {height: 35px;}
        .lineleft1 {width: 280px; margin-left: 0px; margin-right: 0px;}
        .lineright1 {width: 280px; margin-right: 0px; margin-left: 0px;}
        .lineleft2 {width: 280px; margin-left: 0px; margin-right: 0px;}
        .lineright2 {width: 280px; margin-right: 0px; margin-left: 0px;} 
        .lineleft3 {width: 280px; margin-left: 0px; margin-right: 0px;}
        .lineright3 {width: 280px; margin-right: 0px; margin-left: 0px;}
        .lineleft4 {width: 280px;margin-left: 0px; margin-right: 0px;}
        .lineright4 {width: 280px; margin-right: 0px; margin-left: 0px;}
        .lineleft5 {width: 260px;margin-left: 0px; margin-right: 0px;}
        .lineright5 {width: 260px; margin-right: 0px; margin-left: 0px;}
        #whatwedoicons {width:280px;}
        #processicons {width:280px;}
        #statsicons {width:280px;}
		.contactsection {margin-right: 0px;}
		#arrows { display: none;}
		.smallseparatecontact {width: 300px;}
		.smallseparatecontact2 {width:300px;}
		.portraitsocialicons {margin-bottom: 20px;}
		.portraitlast {float: none;}
		.servicesitemlast {margin-right: 0px; float:left; width: 300px; margin-top:20px;}
		#ipadmap {display: none;}
		#checklist { width:300px;}
		.checkmarktext {width: 270px;}
		.checklistitem {width: 300px;}
		#hiddenmenu ul { display: none; }
  		#hiddenmenu select { display: inline-block; font-size:18px; height:33px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 0px; }
  		#topmenu select { width: 240px; display: inline-block; font-size:18px; height:33px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 0px; }
  		#menuband select { width: 230px; display: inline-block; font-size:18px; height:33px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 0px; }
  		#menuband {width: 290px; height: 45px;}
  		#topband {width: 100%; height: 50px;}
  		#menu1 {display: none;}
  		.dottedline_right { width: 85px;}
  		.dottedline_left { width: 85px;}
  		.smallheadingfont {font-size: 42px;}
  		#experiences { display: inline-block; margin-top: 6px;}


   }

@media only screen and (min-width: 401px) and (max-width: 767px) {
		.container {width: 300px;}
        .galleryitem {width: 300px; float: none; padding-right: 0px; padding-left: 0px; margin:0 auto;}
        .galleryitemdescription {width: 315px; margin: 0 auto;}
        .servicesitem {width: 300px; float: none;}
        .servicesitemlast {width: 300px; float: none;}
        #hiddenmenu { font-size: 6px;}
        #clients { display: none; }
        #testimonials { width: 300px;}
        #whatwedo {width: 300px;}
        #process {width: 300px;}
        #stats { width: 300px;}
        .portrait {margin: 0 auto; float: none;}
        .blurb {width: 300px;}
        .blurbenclosure{width: 300px;}
        .blurbenclosure2{width: 300px;}
        .aboutusblurb {width: 300px;}
        .contactleft {margin: 0 auto; float: none;}
        .contact_middle {width: 300px; margin: 0 auto; float: none; padding-left: 0px; padding-right: 0px; margin-top:60px;}
        #textleft {width: 300px; float: none; text-align: center; margin: 0 auto; border: none; padding-bottom: 30px; padding-right: 0px;}
        #textright {width: 300px; float: none; text-align: center; margin: 0 auto; border: none; padding-left: 0px;}
        #testimonials_split_text {width: 300px;}
        .line { width: 300px;}
        .aboutusblurb {width: 300px;}
        #skillwrapper {width: 300px; padding-bottom: 45px; margin: 0 auto;}
        .skilltitle {margin-left:0px;}
        #aboutusright {width: 300px; float: none; margin: 0 auto;}
        #aboutusleft {width: 300px; float: none; margin: 0 auto;}
        #contactbutton {width: 300px; margin: 0 auto;}
        #topmenu {width: 300px; font-size: 9px;}
        .introh1 {font-size: 60px; margin-bottom: 9px; margin-bottom: 9px;}
        .introh3 {font-size: 16px; margin-bottom: 0px;}
        .introh4 {width: 300px; font-size: 21px; padding-bottom: 0px; padding-top: 4px;}
        h1 {font-size: 60px;}
        #hiddenmenu {margin-top: 44px;}
        #navcover {height: 50px; margin-top: -58px;}
        .lineleft1 {width: 100px; margin-left: 0px; margin-right: 0px;}
        .lineright1 {width: 100px; margin-right: 0px; margin-left: 0px;}
        .lineleft2 {width: 100px; margin-left: 0px; margin-right: 0px;}
        .lineright2 {width: 100px; margin-right: 0px; margin-left: 0px;} 
        .lineleft3 {width: 100px; margin-left: 0px; margin-right: 0px;}
        .lineright3 {width: 100px; margin-right: 0px; margin-left: 0px;}
        .lineleft4 {width: 100px;margin-left: 0px; margin-right: 0px;}
        .lineright4 {width: 100px; margin-right: 0px; margin-left: 0px;}
        .lineleft5 {width: 70px;margin-left: 0px; margin-right: 0px;}
        .lineright5 {width: 70px; margin-right: 0px; margin-left: 0px;}
        #whatwedoicons {width:300px;}
        #processicons {width:300px;}
        #statsicons {width:300px;}
		.contactsection {margin-right: 0px; width: 300px;}
		#arrows { display: none;}
		.smallseparatecontact {width: 300px;}
		.smallseparatecontact2 {width:300px;}
		.portraitsocialicons {margin-bottom: 20px;}
		.portraitlast {float: none;}
		.servicesitemlast {margin-right: 0px; float:left; width: 300px; margin-top:20px;}
		#ipadmap {display: none;}
		#checklist { width:300px;}
		.checkmarktext {width: 270px;}
		.checklistitem {width: 300px;}
		#hiddenmenu ul { display: none; }
  		#hiddenmenu select { display: inline-block; font-size:18px; height:33px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 0px; }
  		#topmenu select { display: inline-block; font-size:18px; height:33px; font-family: 'Source Sans Pro', sans-serif; margin-bottom: 0px; }
  		#topmenu ul {display: none;}
  		#topmenu {border:none;}
  		.dottedline_right { width: 85px;}
  		.dottedline_left { width: 85px;}
  		#menuband {width: 350px;}
  		#menu1 {width: 350px;}
  		#menu1 li {font-size: 11px; margin-left: 10px;}
  		.contactsection {width: 100%;}
   }

@media only screen and (min-width: 768px) and (max-width: 1000px) {
		.container {width: 700px;}
        .galleryitem {width: 700px; float: none; padding-right: 0px; padding-left: 0px; margin:0 auto;}
        .galleryitemdescription {width: 315px; margin: 0 auto;}
        .servicesitem {width: 700px; float: none;}
        .servicesitemlast {width: 700px; float: none;}
        #clients { display: none; }
        #testimonials { width: 700px;}
        #whatwedo {width: 700px;}
        #process {width: 700px;}
        #stats { width: 700px;}
        .portrait {margin: 0 auto; float: none;}
        .blurb {width: 700px;}
        .blurbenclosure{width: 700px;}
        .blurbenclosure2{width: 700px;}
        .aboutusblurb {width: 700px;}
        .contactleft {margin: 0 auto; float: none;}
        .contact_middle {width: 300px; margin: 0 auto; float: none; padding-left: 0px; padding-right: 0px;}
        #textleft {width: 300px;}
        #textright {width: 299px;}
        #testimonials_split_text {width: 700px;}
        .line { width: 300px;}
        .aboutusblurb {width: 300px;}
        #skillwrapper {width: 300px; padding-bottom: 45px; margin: 0 auto;}
        #aboutusright {width: 300px; float: right;}
        #aboutusleft {width: 300px; float: left;}
        #contactbutton {width: 400px; margin: 0 auto;}
        #topmenu {width: 590px; font-size: 13px;}
        #topmenu ul li {margin-right:30px;}
        #hiddenmenu {margin-top: 44px;}
        #navcover {height: 30px;}
        .lineleft1 {width: 100px; margin-left: 0px; margin-right: 0px;}
        .lineright1 {width: 100px; margin-right: 0px; margin-left: 0px;}
        .lineleft2 {width: 185px; margin-left: 0px; margin-right: 10px;}
        .lineright2 {width: 185px; margin-right: 0px; margin-left: 10px;} 
        .lineleft3 {width: 225px; margin-left: 0px; margin-right: 10px;}
        .lineright3 {width: 225px; margin-right: 0px; margin-left: 10px;}
        .lineleft4 {width: 225px;margin-left: 0px; margin-right: 10px;}
        .lineright4 {width: 225px; margin-right: 0px; margin-left: 10px;}
        .lineleft5 {width: 250px;margin-left: 0px; margin-right: 10px;}
        .lineright5 {width: 250px; margin-right: 0px; margin-left: 10px;}
        #whatwedoicons {width:700px;}
        #processicons {width:700px;}
        #statsicons {width:400px;}
		.contactsection {margin-right: 0px; width: 400px;}
		#arrows { display: none;}
		.smallseparatecontact {width: 300px;}
		.smallseparatecontact2 {width:300px;}
		.portraitsocialicons {margin-bottom: 20px;}
		.portraitlast {float: none;}
		.servicesitemlast {margin-right: 0px; float:left; width: 700px; margin-top:20px;}
		#ipadmap {display: none;}
		#checklist { width:300px;}
		.checkmarktext {width: 270px;}
		.checklistitem {width: 300px;}
		.skilltitle {margin-top:35px;}
		#contactbutton {width: 700px;}
		.contactleft {width: 300px; height: auto; float: left; text-align: center; margin-left: 0px;}
		.contact_middle{width: 300px; float: right; padding-left: 0px; padding-right: 0px; margin-top: -4px;}
		.contactitems {margin-bottom:36px;}
		#hiddenmenu a {text-decoration: none; color: #000; padding-right: 45px; display: inline-block; cursor: pointer;}
		.contactsection {width: 100%;}

   

  }

@font-face {
    font-family: 'lobster_tworegular';
    src: url('fonts/lobster/lobstertwo-regular.eot');
    src: url('fonts/lobster/lobstertwo-regular.eot@#iefix') format('embedded-opentype'),
         url('fonts/lobster/lobstertwo-regular.woff') format('woff'),
         url('fonts/lobster/lobstertwo-regular.ttf') format('truetype'),
         url('fonts/lobster/lobstertwo-regular.svg#lobster_tworegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lobster_twoitalic';
    src: url('fonts/lobster/lobstertwo-italic.eot');
    src: url('fonts/lobster/lobstertwo-italic.eot@#iefix') format('embedded-opentype'),
         url('fonts/lobster/lobstertwo-italic.woff') format('woff'),
         url('fonts/lobster/lobstertwo-italic.ttf') format('truetype'),
         url('fonts/lobster/lobstertwo-italic.svg#lobster_twoitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(../../../themes.googleusercontent.com/static/fonts/lato/v6/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(../../../themes.googleusercontent.com/static/fonts/lato/v6/G2uphNnNqGFMHLRsO_72ngLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(../../../themes.googleusercontent.com/static/fonts/sourcesanspro/v5/ODelI1aHBYDBqgeIAH2zlNHq-FFgoDNV3GTKpHwuvtI.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(../../../themes.googleusercontent.com/static/fonts/sourcesanspro/v5/toadOcfmlt9b38dHJxOBGCmgpmuQqK2I-L2S9cF65Ek.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(../../../themes.googleusercontent.com/static/fonts/sourcesanspro/v5/toadOcfmlt9b38dHJxOBGIqjGYJUyOXcBwUQbRaNH6c.woff) format('woff');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'), url(../../../themes.googleusercontent.com/static/fonts/oswald/v7/HqHm7BVC_nzzTui2lzQTDbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(../../../themes.googleusercontent.com/static/fonts/oswald/v7/qpy-UiLNKP-VfOdbcs6r6-vvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url(../../../themes.googleusercontent.com/static/fonts/oswald/v7/bH7276GfdCjMjApa_dkG6bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@font-face {
    font-family:'Bebas';
    src: url('fonts/bebasneue/BebasNeue-webfont.eot');
    src: url('fonts/bebasneue/BebasNeue-webfont.eot@#iefix') format('embedded-opentype'),
         url('fonts/bebasneue/BebasNeue-webfont.woff') format('woff'),
         url('fonts/bebasneue/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/bebasneue/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}



